*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--header-height: calc(1.25rem + 2rem);
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
}

input[type="number"],
input[type="color"],
button {
	all: initial;
	font-family: inherit;
	border: 2px inset slategray;
	background-color: whitesmoke;
	user-select: none;
	text-align: center;
	padding: 0.25em;
	cursor: pointer;
	line-height: 1.25;
	height: 1.25rem;
}

input[type="number"]:is(:not(:last-child)),
input[type="color"]:is(:not(:last-child)),
button:is(:not(:last-child)) {
	border-bottom: 0;
}

button:hover {
	background-color: lightgray;
}

header {
	height: var(--header-height);
	border-bottom: 1px solid slategray;
	padding: 1rem;
}

h1 {
	margin: 0;
	font-size: 1.25rem;
	line-height: 1;
	margin-top: -1px; /* now this is just silly :P */
}

main {
	display: flex;
}

aside {
	overflow-y: scroll;
	height: calc(100vh - var(--header-height));

	padding: 1rem;
	padding-bottom: calc(var(--header-height) / 2);
	border-right: 1px dashed slategray;

	flex-shrink: 0;
	max-width: 15ch;
}

section {
	padding: 1rem;
	flex-basis: 100%;
	width: 0; /* this is required for flex-basis to work? */
	margin-top: 2px; /* align to controls */
}

#app {
	outline: 2px solid salmon;
}

#controls {
	display: flex;
	flex-direction: column;
}

#controls > div {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5rem;
}
